.container {
    background: #fff;
	.paragraphText {
        color: red;
        display: flex;
		justify-content: center; /* Aligns horizontally */
		align-items: center; /* Aligns vertically */
		height: 100vh; /* Example height */
    }
}